* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: #a8aaa8;
    --secondary-color: #383c3d;
    --tertiary-color: #0f8031;
}
body {
    color: var(--primary-color);
    font-family: Helvetica, Arial, sans-serif;
}
header {
    padding: 20px 35px;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}
header h1 {
    font-weight: bold;
    font-size: 36px;
    color:  var(--primary-color);
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
header a {
    text-decoration: none;
    color:  var(--primary-color);
}
header nav {
    margin: 7px 0;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
}
section {
    padding: 60px;
}
.section-title {
    font-size: 48px;
    color: var(--secondary-color);
    border-bottom: 3px solid;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;
}
.primary-border {
    border-color: var(--primary-color);
 }
.section p {
    font-size: 36px;
    color: var(--tertiary-color);
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;
}
.section h3 {
    font-size: 36px;
    color: var(--tertiary-color);
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;
}
.hero {
    height: 750px;
    width: 100%;
    background-image: url("../images/hero.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;

}
.hero h2 {
    position: relative;
    bottom: -500px;
    left: 300px;
    color: #fff;
    font-size: 48px;
}
.intro h2 {
    color: var(--secondary-color);
    font-size: 30px;
    text-align: left;
}
.intro p {
    color: var(--tertiary-color);
    font-size:  24px;
    text-align: center;
    background: var(--primary-color) ;
}
.flex-row {
    display: flex;
}
.project {
    margin: 20px;
    background: var(--secondary-color);
    color: var(--primary-color);
    flex: 1;
}
.projects {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.box-1 {
    background-image: url("../images/Example.png") ;
    background-size: cover;
    overflow: hidden;
  }
.box-2 {
    background-image: url("../images/Example.png");
    background-size: cover;
    overflow: hidden;
}
.box-3 {
    background-image: url("../images/Example.png");
    background-size: cover;
    overflow: hidden;
}
.box-4 {
    background-image: url("../images/Example.png");
    background-size: cover;
    overflow: hidden;
}
.box-5 {
    background-image: url("../images/Example.png");
    background-size: cover;
    overflow: hidden;
}
.project-img {
    position: relative;
    width: 100%;
    min-height: 300px;
    display: flex;
    padding: 15px;
    align-items: flex-end;
}
.project-img::after {
    content: "";
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(14, 150, 36, 0.3), var(--secondary-color));
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.5s;
}
.project-img h3 {
    position: relative;
    z-index: 0002;
    top: 200px;
    transition: 0.6s;
}
.project-img h4 {
    position: relative;
    z-index: 0001;
    top: 200px;
    transition: 1s;
}
.project:hover .project-img::after{
    opacity: 1;
}
.project:hover .project-img h3, .project:hover .project-img h4 {
    top: 0px;
}